<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.jenniferhedgcock"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Cha Cha's Mexican Food</name>

    <description>
        Quality Sonoran-style Mexican Food
    </description>

    <author href="http://jenniferhedgcock.com" email="jennifer.hedgcock@gmail.com">
       Jennifer Hedgcock
    </author>
	
	 <content src="index.html" />
	 
	 <!-- A blank access tag  denies access to any external resources. A wildcard  <access origin="*" /> allows access to any external resource.-->
	  <access origin="*" />
	  
	  <!-- preferences -->
	  <preference name="fullscreen" value="true" />
	  <preference name="WebViewBounce" value="true" />
	  <preference name="orientation" value="portrait" />
	  
		<!-- Icons  -->
		<icon src="icon.png" />
		<icon src="images/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
		<icon src="images/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
		<icon src="images/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
		<icon src="images/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
		
		<icon src="images/icon-57.png" gap:platform="ios" width="57" height="57" />
    	<icon src="images/icon-72.png" gap:platform="ios" width="72" height="72" />
    	<icon src="images/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    	<icon src="images/icon-72-2x.png" gap:platform="ios" width="144" height="144" />
		
   <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

   <!-- Plugins used -->
	<plugin name="cordova-plugin-dialogs" spec="1.1.1" source="pgb" />
	<plugin name="cordova-plugin-vibration" spec="1.2.0" source="pgb" />

</widget>
